{% load staticfiles %}

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
Wellcome to the chatroom!

{% for post in chat %}
    <p>{{ post.user }}:{{ post.message }}</p>
{% endfor %}

<form method="POST" class="post-form">{% csrf_token %}
        {{ form.message }}
        <button type="submit" id="send-message">Save</button>
    </form>

<script src="{% static 'main.js' %}"></script>

</body>